<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="list-selection" class="joblist">
        <th:block th:each="job : ${jobs}">
            <table class="job-listing"> <!--style="margin-top: 20px; margin-bottom: 20px"-->
                <tr>
                    <h3><td style="text-align: center">ID: </td></h3>
                    <td th:text="${job.getId()}">ID: </td>
                </tr>
                <tr>
                    <td style="text-align: center">Name: </td>
                    <td th:text="${job.getName()}"></td>
                </tr>
                <tr>
                    <td style="text-align: center">Employer: </td>
                    <td th:text="${job.getEmployer()}"></td>
                </tr>
                <tr>
                    <td style="text-align: center">Location: </td>
                    <td th:text="${job.getLocation()}"></td>
                </tr>
                <tr>
                    <td style="text-align: center">Position: </td>
                    <td th:text="${job.getPositionType()}"></td>
                </tr>
                <tr>
                    <td style="text-align: center">Skill: </td>
                    <td th:text="${job.getCoreCompetency()}"></td>
                </tr>
            </table>
            <p></p>
        </th:block>
    </div>

</body>
</html>
